<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaOmega.ApkReader" version="2.0.8" targetFramework="net48" />
  <package id="SAL.Flatbed" version="1.2.9.2" targetFramework="net48" />
  <package id="SAL.Windows" version="1.2.9.2" targetFramework="net48" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net48" />
</packages>